<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>weather</title>
    <link rel="icon" href="/IMG/weather.png">
    <link rel="stylesheet" href="/CSS/style.css">
    
</head>
<body>
    <div class="main-content">
           {{>header}}
           <p>use this site to get weather!</p>
   
    <form action="/weather" method="get" >
        <input name="address" placeholder="location" />
        <input type="submit"/>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
     </div>
           {{>footer}}
    
    <script src="/JS/app.js"></script>
</body>
</html>